<div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
            <div class="list-group">
                <h4 class="list-group-item active">Blog Categories:</h4>
                {{#each category}}
                <a href="#" class="list-group-item">{{this.name}}</a> {{/each}}
            </div>
        </div>