<div class="card">
    <div class="header list-group-item active">
        <h2>USER INFOS</h2>        
    </div>
    <div class="">
        <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="userInfo">

                </tbody>
            </table>
        </div>
    </div>
</div>