<div class="card userTableDiv" style="display: none">
  <div class="body table-responsive">
    <table class="table table-hover table-striped ">
      <thead>
        <tr>
          <th>#</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>USERNAME</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>