<div class="card userInfoDiv">
    <div class="header list-group-item active">
        <h2>USER INFOS</h2>
        <div >
            <ul class="header-dropdown m-r--5 graphLoader">
                <li>
                    <a data-toggle="cardloading" data-loading-effect="timer">
                                        <i class="material-icons">loop</i>
                                    </a> </li>
            </ul>
        </div>
    </div>
    <div class="">
        <div class="table-responsive">
            <table class="table table-hover dashboard-task-infos">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="userInfo">

                </tbody>
            </table>
        </div>
    </div>
</div>