{{!--<!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Blogger's Website 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>--}}

            <!--Footer-->
    <footer class="page-footer center-on-small-only">

        <!--Footer Links-->
        <div class="container-fluid">
            <div class="row">

                <!--First column-->
                <div class="col-md-3 offset-lg-1 hidden-lg-down">
                    <h5 class="title">ABOUT BLOGGER'S MEETS</h5>
                    <p>Write blogs Write blogs Write blogs Write blogs Write blogs Write blogs Write blogs Write blogs 
                        Write blogs Write blogs Write blogs Write blogs Write blogs Write blogs Write blogs Write blogs 
                        Write blogs Write blogs Write blogs </p>

                    <p>Used Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, 
                        CSS, and JS framework - Bootstrap.</p>
                </div>
                <!--/.First column-->

                <hr class="hidden-md-up">

                <!--Second column-->
                <div class="col-lg-2 col-md-4 offset-lg-1">
                    <h5 class="title">First column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="hidden-md-up">

                <!--Third column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Second column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="hidden-md-up">

                <!--Fourth column-->
                <div class="col-lg-2 col-md-4">
                    <h5 class="title">Third column</h5>
                    <ul>
                        <li><a href="#!">Link 1</a></li>
                        <li><a href="#!">Link 2</a></li>
                        <li><a href="#!">Link 3</a></li>
                        <li><a href="#!">Link 4</a></li>
                    </ul>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            {{!--<h4>Material Design for Bootstrap</h4>--}}
            <ul>
                {{!--<li>
                    <h5>Get our UI KIT for free</h5>
                </li>--}}
                <li><a target="_blank" href="/auth/userregistration" class="btn btn-info" rel="nofollow">Sign up!</a></li>
                <li><a target="_blank" href="/auth/login" class="btn btn-info" rel="nofollow">Login!</a></li>
                <li><a target="_blank" href="#" class="btn btn-default" rel="nofollow">Contact us</a></li>
                <li><a target="_blank" href="#" class="btn btn-default" rel="nofollow">About us</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2017 Copyright: <a href="#"> Blogger's Website 2017</a>

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->