<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-3 offset-lg-1 hidden-lg-down">
                <h5 class="title">ABOUT BLOGGER'S MEETS</h5>
                <p>Used Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS,
                    and JS framework - Bootstrap.</p>
            </div>
            <!--/.First column-->

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-lg-2 col-md-4 offset-lg-1">
                <h5 class="title">First column</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <!--/.Second column-->

            <hr class="hidden-md-up">

            <!--Third column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Second column</h5>
                <ul>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <!--/.Third column-->

            <hr class="hidden-md-up">

            <!--Fourth column-->
            <div class="col-lg-2 col-md-4">
                <h5 class="title">Third column</h5>
                <ul>
                    <li><a href="#">About us</a></li>
                </ul>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action">
        <ul>
            <li><a href="/auth/login" class="btn btn-info" rel="nofollow">Login</a></li>
            <li><a href="/auth/userregistration" class="btn btn-info" rel="nofollow">Sign up</a></li>
        </ul>
    </div>
    <!--/.Call to action-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#"> Blogger's Meet</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->