<div class="col-sm-12">
  <h1>{{title}}</h1>
</div>

<div class="main-content row">

  <div class="col-md-8 col-md-offset-2">
    <h3>Add Blogs</h3>
    <form class="form-horizontal" action="/blog/savedata" method="POST">
      {{#if errors }}
      <ul class="errors">
        {{#each errors}}
        <li class="alert alert-danger">{{this.msg}} </li>
        {{/each}}
      </ul>
      {{/if}}
      <div class="form-group">
        <label class="control-label col-sm-2" for="topic">Blog Topic:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="topic" name="topic" autofocus="autofocus" required="required">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="content">Content:</label>
        <div class="col-sm-10">
          <textarea class="input" rows="10" cols="85" id="content" name="content" autofocus="autofocus" required="required"></textarea>
        </div>
      </div>
      <input type="hidden" id="userid" name="userid" value={{user._id}} />
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="main-content row">
  <div class="col-md-8 col-md-offset-2">
    <h3>List of Blogs</h3>
  </div>
</div>