<div class="block-header">
    <h2>DASHBOARD</h2>
</div>

<!-- Widgets -->
<div class="row clearfix">
    {{>dashboardHeaderCount collectionCountList}}
</div>
<!-- #END# Widgets -->
<!-- CPU Usage -->

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{>DashboardUserGraph}}
    </div>
</div>
<!-- #END# CPU Usage -->
<div class="row clearfix">
    <!-- Visitors -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {{>DashboardBlogsInfo}}
    </div>
    <!-- #END# Visitors -->
    <!-- Latest Social Trends -->

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {{>DashboardCategoryInfo}}
    </div>
    <!-- #END# Latest Social Trends -->
    <!-- Answered Tickets -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {{>DashboardUserInfo}}
    </div>
    <!-- #END# Answered Tickets -->
</div>

<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-12">
        <div class="card userTableDiv" style="display: none">

        </div>
        {{!-- {{>dashboardTable}} --}}
    </div>
</div>