<div class="container">
    <div class="wow fadeIn" data-wow-delay="0.1s">
        <div class="card">
            <div class="card-block">
                <h5><strong>Email verification status</strong></h5>
                {{#if isError}}

                <div class="alert alert-danger">
                    <strong>Sorry!</strong> Your email verification status is failed. Please try again. {{> verifyemail}}
                    <br><br> Please click here to <a href="/auth/login">Login</a>
                </div>
                {{else}} {{#if isAlreadyUpdated}}
                <div class="alert alert-danger">
                    <strong>Hello!</strong> Your registered email is already verified.
                    <br><br> Please click here to <a href="/auth/login">Login</a>
                </div>
                {{else}}
                <div class="alert alert-success">
                    <strong>Thank you!</strong> You have successfully verified your email.
                    <br><br> Please click here to <a href="/auth/login">Login</a>
                </div>
                {{/if}} {{/if}}
            </div>
        </div>
    </div>
</div>