<div class="container">
    <div class="widget-wrapper">
        <div class="list-group">
            <h4 class="list-group-item active">Email Verification</h4>

            <div class="alert alert-danger hidden amerrorResult" role="alert">
                Currently there are some technical issue . Please try again later.
            </div>
        </div>
    </div>

            <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
            <div class="card">
                <div class="card-block">
                    <h5><strong>Leave a Comment</strong></h5>

                </div>
            </div>
        </div>
</div>