
<div class="main-content row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form-horizontal" action="/auth/forgotpwd" method="POST">

      <div class="form-group">
        <label for="emailID">Enter your email ID:</label>
        <input type="text" class="form-control" id="emailID" name="emailID" required="required" autofocus="autofocus" >
      </div>
      
      <div class="form-group">
        <button type="submit">Log In</button>
        {{!--<form method="post" action="/login" id="login">--}}
        <!-- Some input fields -->
        <button type="button" class="ankit">Cancel</button>
        {{!--</form>--}}
       
        {{!--<a href="/login">Forgot your password</a>--}}
      </div>     
    </form>
   
  </div>
</div>