{{!--
<h1></h1>--}}

<div class="row">
    {{!-- test --}}
    <div class="col-lg-8 ">
        <div class="blogdata"></div>
       <div id="divImage" class="hidden">
        <img style="height: 20px; width: 20px;" id="loadmoreblog" name="loadmoreblog" alt="Load More" src="/images/loadmore.png" />
        <br/>
        <br/>
    </div>
    </div>
    

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-4">

        <!-- Blog Search Well -->
        {{!--
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>--}}

        <!-- Blog Categories Well -->
        {{#if category}} {{> blogcategory category=category }} {{/if}}

        <!-- Top Visited Side Widget Well -->
        {{!--
        <div class="well">
            <h4>Top Visit</h4>
            <p>display the top visited blogs.</p>
        </div>--}}

        <div class="widget-wrapper wow fadeIn" data-wow-delay="0.4s">
            <div class="list-group">
                <h4 class="list-group-item active">Top Visit</h4>
                <span class="list-group-item">display the top visited blogs.</span>
            </div>
        </div>

        <div class="widget-wrapper wow fadeIn" data-wow-delay="0.6s">
            {{> subscribe}}

        </div>
    </div>
</div>

{{!--
<p>
    <h3>Coming soon.....</h3>
</p>--}} {{!--HandleBar Helper Functions instance--}} {{!--
<p>{{CheckEmpty "dfdsfdsf"}}</p>
<p>{{CheckNumber "10"}}</p>

<div>
    {{> view1}}
</div>
<div>
    {{> view2}}
</div>
<div>
    {{> view3}}
</div>
{{#if user}}
<div>
    {{> view4}}
</div>
<div>
    {{> view5}}
</div>
{{/if}}--}}