<div class="container-fluid">
  <div class="row">

    <!--First column-->
    <div class="col-lg-4">
      {{> uploadprofilephoto}}
    </div>
    <!--/.First column-->

    <!--Second column-->
    <div class="col-lg-8 col-md-8">

      <div class="row">
        <!--Verify email-->
        {{> verifyemail}}
        <!--/.Verify email-->

        <!-- my profile status section -->
        {{> myprofilestatus}}
        <!-- /.my profile status section -->
      </div>

      <!-- About me section -->
      {{> aboutme aboutme=aboutme}}
      <!-- /. About me section -->

      <div class="row">
        <!--Personal Info column-->
        {{> personaldetails personaldetails=personaldetails}}
        <!--/.Personal Info column-->

        <!--Proffessional column-->
        {{> proffessionaldetails proffessionaldetails=proffessionaldetails}}
        <!--/.Proffessional column-->
      </div>

      <div class="row">
        <!-- Education -->
        {{> education}}
        <!--/.Education column-->

        <!--Contact column-->
        {{> usercontact}}
        <!--/.Contact column-->
      </div>

    </div>
    <!--/.Second column-->
  </div>
</div>

{{!--
<!--Second column-->
<div class="col-lg-8 col-md-8">
  <div class="row">
    <div class="col-lg-12">
      <div class="fancy-collapse-panel">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">About me</a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                This is about me and my proffession.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Personal info</a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="PDErrorPanel hidden">
                </div>
                <form class="form-horizontal" action="" method="">
                  <div class="form-group md-form">
                    <label for="firstname">First Name</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" required="required" autofocus="autofocus">
                  </div>

                  <div class="form-group md-form">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="phone">Contact Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" required="required">
                  </div>

                  <div class="form-group ">
                    <button class="btn btn-info" type="submit">Save</button>
                    <button class="btn btn-info" type="reset">Cancel</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Proffessional details</a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                <div class="profErrorPanel hidden">
                </div>
                <form class="form-horizontal" action="" method="">
                  <div class="form-group md-form">
                    <label for="proffession">Proffession</label>
                    <input type="text" class="form-control" id="proffession" name="proffession" required="required" autofocus="autofocus">
                  </div>

                  <div class="form-group md-form">
                    <label for="department">Department</label>
                    <input type="text" class="form-control" id="department" name="department" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="company">Company</label>
                    <input type="text" class="form-control" id="company" name="companys`s" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="location">Experience</label>
                    <input type="text" class="form-control" id="location" name="location" required="required">
                  </div>

                  <div class="form-group ">
                    <button class="btn btn-info" type="submit">Save</button>
                    <button class="btn btn-info" type="reset">Cancel</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Education</a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <div class="eduErrorPanel hidden">
                </div>
                <form class="form-horizontal" action="" method="">
                  <div class="form-group md-form">
                    <label for="hqualification">Highest Qualification</label>
                    <input type="text" class="form-control" id="hqualification" name="hqualification" required="required" autofocus="autofocus">
                  </div>

                  <div class="form-group md-form">
                    <label for="university">University</label>
                    <input type="text" class="form-control" id="university" name="university" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="yearofpass">Year of passing</label>
                    <input type="text" class="form-control" id="yearofpass" name="yearofpass" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="place">Place</label>
                    <input type="text" class="form-control" id="place" name="place" required="required">
                  </div>

                  <div class="form-group ">
                    <button class="btn btn-info" type="submit">Save</button>
                    <button class="btn btn-info" type="reset">Cancel</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Contact details</a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <div class="contactErrorPanel hidden">
                </div>
                <form class="form-horizontal" action="" method="">
                  <div class="form-group md-form">
                    <label for="hqualification">Highest Qualification</label>
                    <input type="text" class="form-control" id="hqualification" name="hqualification" required="required" autofocus="autofocus">
                  </div>

                  <div class="form-group md-form">
                    <label for="university">University</label>
                    <input type="text" class="form-control" id="university" name="university" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="yearofpass">Year of passing</label>
                    <input type="text" class="form-control" id="yearofpass" name="yearofpass" required="required">
                  </div>

                  <div class="form-group md-form">
                    <label for="place">Place</label>
                    <input type="text" class="form-control" id="place" name="place" required="required">
                  </div>

                  <div class="form-group ">
                    <button class="btn btn-info" type="submit">Save</button>
                    <button class="btn btn-info" type="reset">Cancel</button>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--/.Second column-->--}}