<div class="main-content row">
    <form class="form-horizontal" action="/myprofile/uploadphoto" method="POST" enctype="multipart/form-data" >

       <div class="form-group">
        Upload Photo :  <input type="file" name="displayImage" id="displayImage" />
      </div> 

       <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Add</button>
          <button type="reset" class="btn btn-default">Reset</button>
        </div>
      </div> 
    </form>
  </div>
</div>