.imgwidth {
    width: 50px;
}

.emplist_imgwidth {
    width: 30px;
}

.button {
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.unableToSendEmail {
    width: 100%;
}

.col-lg-10.blogdata h3 {
    margin-top: 0px!important;
}


/* TEMPLATE STYLES */

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.navbar {
    background-color: #333;
}

footer.page-footer {
    background-color: #333;
    margin-top: 2rem;
}


/* Profile */


/**
 * Ranking component
 */

.rank-label-container {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #33b5e5;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}


/* Circualr Profile Image */

.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.one {
    background-image: url('/images/350x150.png');
}

.two {
    background-image: url('/images/150x150.png');
}

.three {
    background-image: url('/images/350x750.png');
}

.navbarimage {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.four {
    background-image: url('/images/18x18.png');
}

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* ############# Start My Profile Accordion #########################  */


/* GENERAL STYLES */


/* body {
    font-family: Verdana;
} */


/* FANCY COLLAPSE PANEL STYLES */


/* .fancy-collapse-panel .panel-default>.panel-heading {
    padding: 0;
}

.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #33b5e5;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196";
}

.collapse.in {
    display: block;
    visibility: visible;
}

.defaultfontweight {
    font-weight: none !important;
} */

.defaultfontweight {
    font-weight: normal;
    color: #757575;
}

textarea {
    resize: none;
    border: none;
}


/*############# End My Profile Accordion #########################   */