.imgwidth {
    width: 50px;
}

.emplist_imgwidth {
    width: 30px;
}

.button {
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.unableToSendEmail {
    width: 100%;
}