/* YOUR CUSTOM STYLES */

.list-group-item.active {
    background-color: #33b5e5;
    border-color: #33b5e5
}

.list-group-item:not(.active) {
    color: #222;
}

.list-group-item:not(.active):hover {
    color: #666;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.typeahead {
    color: white;
    font-weight: bold;
}

.tt-menu {
    width: 250px;
    margin: 12px 0;
    padding: 9px 9px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}


/*
body {
    text-align: center;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}

.mdl-textfield__error {
    width: 100%;
    left: 0;
    text-align: left;
}*/