.imgwidth {
    width: 50px;
}

.emplist_imgwidth {
    width: 30px;
}

.button {
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.unableToSendEmail {
    width: 100%;
}

.col-lg-10.blogdata h3 {
    margin-top: 0px!important;
}


/* TEMPLATE STYLES */

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
}

.navbar {
    background-color: #000000;
}

footer.page-footer {
    background-color: #53463d;
    margin-top: 2rem;
}